<%= form_for(sector) do |f| %>
  <% if sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :trainer %>
    <%= f.text_field :trainer %>
  </div>
  
  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="dropdown-menu">
	<%= f.label :user_id %>
	<%= f.collection_select :user_id, User.all, :id, :full_name, include_blank: true %>
  </div>
	<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
