<!DOCTYPE html>
<html>
  <head> 
    <title>Life Balane Wheel</title>
    <%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	
	<!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/custom.css">
	
  </head>

  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
  
	<main role="main">
    <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
	
	<footer>
		<p><small>&copy; 2020 Life Balance Conf &amp; Elena Aiupova</small></p>
	</footer>
  </body>
</html>
